#caixa {
positon: relative;
padding: 5px;
width: 1323px;
background-color: #000000;
border: 2px solid #EEEE00;
}
p {
margin: 2px 0px 5px 0px;
font: bold 22px Verdana, Sans-serif;
background-color:#EEEE00;
}
#grafico {
width: 1315px;
padding: 10px 2px 10px 2px;
font: bold 13px Arial, Sans-serif;
background-color:;
border: 2px solid #EEEE00;
}
#pais1 {
width: 1250px;
}
#pais2 {
width: 900px;
}
#pais3 {
width: 893px;
}
#pais4 {
width: 878px;
}
#pais5 {
width: 770px;
}
.item{ 
background-color: #EEEE00;
border: 2px solid #000000;
margin: 5px 0px 5px 0px;
height: 18px;
}
body {
margin: 10px;
background-image:url("terraprinc.jpg");
}
h3 {
color:#FFFAFA;
background-color: white;
padding: 10px;
text-align: center;
}
img {
border: 1px solid #EEEEE0;
width: 200px;
height: 150px;
}
.imagem {
float: left;
width: 230px;
height: 180px;
margin: 10px;
padding: 5px;
background-color: #FFFF00;
border-right: #a5a7aa solid 1px;
border-bottom: #a5a7aa solid 1px;
text-align: center;
}
a {
text-decoration: none;
}
span {
color:#191970;
font-family: Taboma, Sans-serif;
font-size: 10pt;
}