body {
	background: -webkit-gradient(linear, left top, right top, from(#CCCCCC), to(#000000));
}
article {
	background: -webkit-gradient(linear, left top, right top, from(#1e5799), to(#2989d8));
	margin: 50px 100px 10px 100px;
	border: 5px solid black;
	-webkit-border-radius: 30px;
}
img {
	padding: 10px;
	width: 210px;
	height: 214px;
	float: left;
}
p {
	color: black;
	font-size: 20px;
	text-align: justify;
}
h1 {
	color: Yellow;
	text-align: center;
}